.header {
    height: 82px;
    border-width: 1px;
    border-style: solid;
    border-color: #ececec;

    & a:focus {
        color: var(--select-bgcolor);
    }

    .header__box {
        background: #ffffff;
        display: inline-flex;
        height: 80px;
        gap: 50px;
        padding-top: 32px;
        padding-bottom: 32px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    &__logo {
        align-self: center;
    }

    &__text {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        padding-top: 60px;
        padding-bottom: 20px;
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__text--color1 {
        color: var(--select-bgcolor);
        text-decoration: none;
    }

    &__text--color2 {
        color: var(--second-logo-color);
    }

    &__navi {
        padding-left: 93px;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: var(--normal-text);
        text-decoration: none;
        align-self: center;
        margin: 15px;
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact {
        display: none;
    }

    &__icon {
        display: inline-flex;
        margin-left: 12px;
        margin-right: 12px;
        align-items: center;
        fill: var(--content-color);
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__email {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: var(--contact-us-color);
        text-decoration: none;
        align-self: center;
        margin-right: 30px;
        margin-left: 10px;
    }

    &__phone {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: var(--contact-us-color);
        text-decoration: none;
        align-self: center;
        margin-right: 30px;
        margin-left: 10px;
    }
}

.header__link--after {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 43px;
        background: var(--first-logo-color);
        height: 4px;
        border-radius: 10px 10px 10px 10px;
    }
}

/*MOBILE MENU*/

@media screen and (min-width: 320px), (max-width: 767px) {
    .page-header {
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
            0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }

    .header__menu {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .header__contact {
        display: none;
    }

    .js-menu-container {
        min-width: 320px;
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu .link {
        padding: 10px;
        color: inherit;
        text-decoration: none;
    }

    .menu .link:hover,
    .menu .link:focus {
        text-decoration: underline;
    }

    .menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        z-index: 999;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .menu-container.is-open {
        transform: translateX(0);
    }

    .menu-container .menu-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #fff;
    }

    .mobile-menu .link {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }

    .mobile__menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 36px;
        padding-top: 15px;
        padding-bottom: 120px;
    }

    .mobile__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .mobile__logo {
        color: #2196f3;
    }

    .mobile__contact {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 32px;
        padding-bottom: 64px;
    }

    .mobile__phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #2196f3;
    }

    .mobile__email {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .mobile__social {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .mobile__social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        color: #2196f3;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .header__logo {
        align-self: center;
    }

    .header__text {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        padding-top: 60px;
        padding-bottom: 20px;
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header__text--color1 {
        color: var(--select-bgcolor);
        text-decoration: none;
    }

    .header__text--color2 {
        color: var(--second-logo-color);
    }

    .header__navi {
        padding-left: 93px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__block {
        display: none;
    }

    .nav {
        display: none;
    }
    .contact {
        display: none;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        &__logo {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
    .menu_btn {
        width: 40px;
        height: 40px;
        background: get-bg-color(basic-background);
        fill: get-color(dark-text);
        &:hover,
        &:focus {
            fill: get-color(action);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    header {
        margin-bottom: 0px;
    }

    .header__menu {
        width: 100%;
    }

    .menu_btn {
        display: none;
    }
    .page-header {
        justify-content: space-between;
    }

    .header__text {
        padding-right: 63px;
        width: 100%;
    }

    .stack__image {
        display: flex;
        width: 354px;
        height: 120px;
    }

    .mobile-menu {
        gap: 60px;
    }
    .mobile__contact {
        display: inline-block;
        margin-left: 101px;
    }
    .mobile__contact-item {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }

    .header__contact-object {
        display: flex;
        align-items: center;
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover svg {
            fill: var(--select-bgcolor);
            cursor: pointer;
        }

        &:focus svg {
            fill: var(--select-bgcolor);
            cursor: pointer;
        }
    }

    .header__contact-object {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header__contact {
        display: flex;
        flex-direction: column;
        padding-left: 45px;
        align-items: flex-start;
        justify-content: center;
    }

    .header__block {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .header__nav-links {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }
    .header__logo {
        width: 100%;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .menu-container {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .header__contact {
        display: flex;
    }

    .header__menu {
        justify-content: flex-start;
        gap: 93px;
    }

    .header__nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 345px;
    }
}
