.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: var(--select-bgcolor);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url(../images/main-bg/main-bg-mobile.jpg);

    &__text {
        display: block;
        font-weight: 900;
        font-size: 26px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--select-color);
        padding-top: 118px;
        padding-bottom: 30px;
    }

    &__btn {
        display: block;
        width: 200px;
        background: var(--select-bgcolor);
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn-text {
        font-weight: 700;
        font-size: 16px;
        color: var(--select-color);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .main {
        background-image: linear-gradient(
                to right,
                #2f303a66 100%,
                #2f303a66 100%
            ),
            url(../images/main-bg/main-bg-mobile.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(
                    to right,
                    #2f303a66 100%,
                    #2f303a66 100%
                ),
                url(../images/main-bg/main-bg-mobile@2x.jpg);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main {
        gap: 60px;
        background-image: linear-gradient(
                to right,
                #2f303a66 100%,
                #2f303a66 100%
            ),
            url(../images/main-bg/main-bg-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(
                    to right,
                    #2f303a66 100%,
                    #2f303a66 100%
                ),
                url(../images/main-bg/main-bg-tablet@2x.jpg);
        }
    }

    .main__text {
        width: 365px;
        height: 84px;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        height: 600px;
        background-image: linear-gradient(
                to right,
                #2f303a66 100%,
                #2f303a66 100%
            ),
            url(../images/main-bg/main-bg-desktop.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(
                    to right,
                    #2f303a66 100%,
                    #2f303a66 100%
                ),
                url(../images/main-bg/main-bg-desktop@2x.jpg);
        }
    }

    .main__text {
        width: 696px;
        height: 120px;
        font-size: 44px;
        padding-top: 200px;
        padding-bottom: 130px;
    }
}
