.stack {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
        background-color: var(--select-color);
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__image {
        display: flex;
        background: var(--normal-bgcolor);
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__icon {
        display: inline-flex;
        margin-left: 12px;
        margin-right: 12px;
        align-items: center;
        fill: var(--content-color);
        transition: 250ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__header {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--normal-text);
        padding-bottom: 10px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__text {
        font-size: 14px;
        line-height: 1.8em;
        letter-spacing: 0.03em;
        color: var(--content-color);
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .stack__image {
        display: flex;
        width: 450px;
        height: 120px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .stack__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .stack__header {
        width: 270px;
        justify-content: flex-start;
    }

    .stack__text {
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .stack__list {
        flex-direction: row;
        gap: 30px;
    }

    .stack__image {
        width: 270px;
        height: 120px;
    }

    .stack__header {
        justify-content: flex-start;
    }
}
