.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    translate: none;
    opacity: 1;
    transition: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 528px;
        min-height: 581px;
        background-color: #fff;
    }

    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
