:root {
    --normal-text: #212121;
    --normal-bgcolor: #f5f4fa;
    --select-color: white;
    --select-bgcolor: #2196f3;
    --contact-us-color: #757575;
    --nav-header-bgcolor: #ececec;
    --sentence-color: #ffffff;
    --first-logo-color: #2196f3;
    --second-logo-color: #000000;
    --third-logo-color: #ffffff;
    --our-workers-bgcolor: #f5f4fa;
    --content-color: #757575;
    --border: none;
    --street-color: #ffffff;
    --second-bgcolor: #2f303a;
}
